<div class="mediaBox">
    <img class="svg" src="/images/svg/facebook.svg" alt="">
    <img class="svg" src="/images/svg/twitter.svg" alt="">
    <img class="svg" src="/images/svg/reddit.svg" alt="">
    <img class="svg" src="/images/svg/discord.svg" alt="">
    <img class="svg" src="/images/svg/instagram.svg" alt="">
</div>
