<h1>Pokemon Unite</h1>
<div class="btnBox">
    <% if (currentUser) {%>
        <p>Welcome <%=currentUser.username%></p>
    <% } %>
</div>
<div class="btnBox">
    <a class="btn btn-primary" href="/pokemon">Roster</a>
    <a class="btn btn-primary" href="/users">All Users</a>
    <% if (currentUser) { %>
            <a class='btn btn-primary' href="/users/<%=currentUser._id%>">Account</a>
            <form action="/sessions?_method=DELETE" method="post">
                <input type="submit" value="Log Out" class="btn btn-primary">
            </form>
    <% } else { %>
        <a class='btn btn-primary' href="/users/new">Sign Up</a>
        <a class='btn btn-primary' href="/sessions/new">Log In</a>
    <% } %>
</div>
