:root {
    --lightPurple: #7b21e9;
    --purple: #6523b6;
    --darkPurple: #4a1885;
    --darkOrange: #cf5100;
    --orange: #e45b04;
    --brightOrange: #fb7823;
    --pastelOrange: #ffb22e;
    --gold: #f9c921;
    --powderBlue: #5a7fff;
    --darkBlue: #193db5;
    --cherryRed: #e6050b;
    --darkRed: #a10606;
    --brightGreen: #17b527;
    --darkGreen: #0e7d1a;
    --black: #220a3d
}

/****** General formatting ******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

body {
    background: #ddd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-transform: capitalize;
    text-align: center;
}

/****** Nav bar formatting ******/
nav {
    background: var(--darkPurple);
    border-bottom: 1px solid var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: .5rem;
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0 1px 2px var(--black);
    height: 75px;
}

.btn-primary {
    background-color: var(--orange);
    border-color: var(--orange);
    transition: .1s;
}

.btn-primary:hover {
    background-color: var(--darkOrange);
    border-color: var(--darkOrange);
    transform: scale(1.1)
}

.btnBox {
    display: flex;
    align-items: center;
}

.btnBox > * {
    margin: .25rem;
}

/****** login/signup formatting ******/
.userForm {
    width: 60%;
    margin: 1rem 20%;
    display: flex;
    flex-direction: column;
    background: var(--pastelOrange);
    padding: 1rem;
    border-radius: 25px;
}

.userForm input {
    border: 1px solid var(--darkPurple);
    border-radius: .5rem;
    padding: .25rem;
}

.userForm input:not([type='submit']) {
    margin-bottom: .5rem;
}

.userForm input[type='submit'] {
    background: var(--purple);
    color: whitesmoke
}

select {
    text-transform: capitalize;
}

/****** pokemon/index card formatting ******/
.cardBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    width: 23%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: .5em 1%;
    border: 3px solid var(--black);
    border-radius: calc(.5rem + 2px);
    transition: .1s;
    background: var(--black);
    box-shadow: 1px 1px 3px black
}

.card:hover {
    transform: scale(1.1)
}

.card > a {
    border-radius: .5rem;
}

.card-img-top {
    padding: .25rem;
    padding-bottom: 0;
    border-radius: .35rem;
    filter: drop-shadow(8px 8px 1px rgba(0, 0, 0, .2))
}

.card-body {
    background: var(--black);
    color: whitesmoke;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.card-title {
    text-transform: capitalize;
    margin: 0;
}

.card-body .tagBox {
    justify-content: space-around;
}

.supporterCard {
    background: linear-gradient(45deg,var(--gold),var(--brightOrange))
}

.speedsterCard {
    background: linear-gradient(45deg,var(--powderBlue),var(--darkBlue));
}

.all-rounderCard {
    background: linear-gradient(45deg,var(--purple),var(--darkPurple))
}

.attackerCard {
    background: linear-gradient(45deg,var(--cherryRed),var(--darkRed));
}

.defenderCard {
    background: linear-gradient(45deg,var(--brightGreen),var(--darkGreen))
}

.tagBox {
    display: flex;
    align-items: center;
}

.tagBox > * {
    margin: 0 .25em;
    background: whitesmoke;
    color: black;
    border-radius: .5em;
    padding: 0 .25em;
    text-transform: capitalize;
    font-size: .75em;
    vertical-align: middle;
    border: 1px solid var(--black)
}

.tag-m {
    font-size: 1em;
}

/****** evoContainer and statsTable formatting ******/
.evoContainer {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
    padding: 2.5rem;
    border: 1px solid var(--darkBlue);
    border-radius: 25px;
    box-shadow: 1px 1px 3px var(--black)
}

.evoContainer > img {
    /* width: 25%; */
    max-width: 200px;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, .2))
}

.evoContainer > span {
    width: 75px;
    text-align: center;
}

.statsTable {
    font-size: 1.25rem;
    background: var(--lightPurple);
    padding: 1rem;
    color: whitesmoke;
    border: 1px solid var(--darkPurple);
    border-radius: 15px;
    margin-top: 2rem;
    box-shadow: 1px 1px 3px var(--black)
}

.statsTitle {
    text-align: center;
}

.fas {
    color: var(--brightOrange)
}

/****** moveBox and components ******/
main > h2,
main > h3{
    align-self: flex-start;
    margin-top: 1em;
}
.moveBox {
    margin: 1em 0;
    border: 1px solid var(--black);
    border-radius: 27px;
    width: 100%;
    box-shadow: 1px 1px 3px var(--black)
}

.moveHeader {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50px auto;
    background: var(--purple);
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: .25em;
}

.moveHeader > img {
    grid-area: 1 / 1 / 3 / 2;
    width: 50px;
    border: 1px solid white;
    border-radius: 25px;
}

.moveHeader > p {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0 .25em;
    text-transform: capitalize;
}

.moveBody {
    background: var(--pastelOrange);
    padding: .5em;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.area {
    color: pink;
}

/****** Users index formatting ******/
.table{
    background: var(--pastelOrange);
    border-radius: 15px;
    border-bottom: none;
    box-shadow: 1px 1px 3px var(--black)
}

thead {
    border-bottom: 1px solid black;
}

.table a {
    color: inherit;
    cursor: pointer;
}

tr:not(:last-child) {
    border-bottom-color: var(--brightOrange)
}

tr:last-child *{
    border-bottom: none;
}

/****** Users show formatting ******/
.infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 1rem 0;
}

.infoContainer > div {
    width: 30%;
    background: var(--pastelOrange);
    padding: .5rem;
    border-radius: 20px;
    box-shadow: 1px 1px 3px var(--black)
}

.infoContainer > div > h3 {
    text-align: center;
}

.btn-add {
    background-color: var(--lightPurple);
    border-color: var(--lightPurple);
    color: whitesmoke;
    transition: .1s;
}

.btn-add:hover {
    background-color: var(--purple);
    border-color: var(--purple);
    color: whitesmoke;
}

.favesBox {
    width: 100%;
}

/****** Footer formatting ******/
footer {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--brightOrange);
    border-top: 1px solid var(--orange);
    height: 50px;
    margin-top: auto;
    padding: 0 .5rem;
}

.svg {
    width: 25px;
}
