:root {
    --purple: #6523b6;
    --orange: #e45b04;
    --gold: #f9c921;
}

* {
    box-sizing: border-box;
}

body {
    background: #ddd;
    padding: 10px;
}

main {
    width: 90%;
    margin: 0 5%;
}

h1 {
    text-transform: capitalize;
}

/****** pokemon/index card formatting ******/
.cardBox {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: .5em;
    border: 1px solid var(--orange);
    border-radius: .5rem;
}

.card-img-top {
    padding: .5em
}

.card-body {
    background: var(--gold);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.card-title {
    text-transform: capitalize;
}

.card-body .tagBox {
    justify-content: space-around;
}

.tagBox {
    display: flex;
    align-items: center;
}

.tagBox > * {
    margin: 0 .25em;
    background: whitesmoke;
    color: black;
    border-radius: .5em;
    padding: 0 .25em;
    text-transform: capitalize;
    font-size: .75em;
    vertical-align: middle;
}

.tag-m {
    font-size: 1em;
}

/****** moveBox and components ******/
.moveBox {
    margin: 1em 0
}

.moveHeader {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50px auto;
    background: var(--purple);
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: .25em;
}

.moveHeader > img {
    grid-area: 1 / 1 / 3 / 2;
    width: 50px;
    border: 1px solid white;
    border-radius: 25px;
}

.moveHeader > p {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0 .25em;
    text-transform: capitalize;
}

.moveBody {
    background: #ffb22e;
    padding: .5em;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.area {
    color: pink;
}
