<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%-include('../partials/head.ejs')%>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <%-include('../partials/nav.ejs')%>
        </nav>
        <main>
            <form class="userForm" action="/users" method="post">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName">
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName">
                <label for="pronouns">Pronouns: </label>
                <input type="text" name="pronouns" id="pronouns">
                <label for="faveRole">Favorite Role: </label>
                <select name="faveRole" id="faveRole" placeholder='-'>
                    <option value="-">-</option>
                    <%for (let role of ['all-rounder','attacker','defender','speedster','supporter']) { %>
                        <option value=<%=role%>><%=role%></option>
                    <% } %>
                </select>
                <input type="submit" value="Submit">
            </form>
        </main>
    </body>
</html>
